extends layout

block navbar.navbar-expand-md
  // .container
  .navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        a.navbar-brand(href="/")
          span 
            img.spicer-right(src="../images/bc_symbolmark.png", height="50") 
          |  BCC Portfolio Explorer
      .navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a.h3(href="/logout") Logout
            // a.btn.btn-primary.navbar-right(href="/logout") Logout
  
block content

  .main-container
    .jombotron
      .container
        // .col.col-md-offset-3

        // register form
        // form(method='GET' action='/logout')
        //  button.btn.btn-primary(type='submit') Logout

        // h1.display-4.m-b-2 #{title}
        
        .row

          .col-md-3

            .panel-primary
              .panel-heading
                h3.panel-title Balance
              .panel-body
                p.h4(name="balance") 0
          .col-md-4
          .col-md-5
            //- script(src="../javascripts/currentAddresses.js")

            script.
              function getCurrencyAddresses(selectedCurrency){
                var currenciesC = !{JSON.stringify(currencies)};
                console.log(currenciesC);
                var currencySelected = selectedCurrency.value;
                var addressSelectionOptions = document.getElementById("addresses");
                var optionsLength = addressSelectionOptions.options.length;
                while (addressSelectionOptions.options.length > 1){
                  addressSelectionOptions.remove(1);
                }
                //var firstChoice = document.createElement("option");
                //firstChoice.value = "select an address"
                //firstChoice.text = "select an address"
                // var currenciesC = !{JSON.stringify(currencies)};
                currenciesC.forEach(function(row){
                  if (row.currency === currencySelected){
                    var choice = document.createElement("option");
                    choice.text = row.address;
                    choice.value = row.address;
                    addressSelectionOptions.appendChild(choice);
                  }
                });
              }
            .card
              .card-body
                select(class="form-control", name="currency", id="currency", onchange='getCurrencyAddresses(this)')
                  option(value="Select a Currency") Select a currency
                  each val in currencies
                    option(value='#{val.currency}') #{val.currency}
                  
                select(class="form-control", name="addresses", id="addresses")
                  option(value="select an address") select an address

    .row
      .col-md-12
        .card-body
          table.table.table-striped(id="transactions", name="transactions")
            thead(class="thread-dark")
              tr
                th(scope="col") time
                th(scope="col") block
                th(scope="col") transaction
                th(scope="col") value
            tbody
  // script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="../javascripts/queryAddress.js")
