extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Login

        // register form
        form(method='POST' action='/login')
          div.form-group
            label(for='name') Username:
            input#name.form-control(type='text', name='username')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password')
          button.btn.btn-primary(type='submit') Login


