body {
  padding: 150px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-brand {
  height: auto;
 }
 .navbar-brand>img {
   display: inline-block;
   padding-right: 10px;
 }